{% load static %}
</!DOCTYPE html>
<html>
  <head>
    <title>Shorten</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/dash.css" %}">
    <link rel="icon" href="{% static "icons/url.png" %}">
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="{% static "dash/Chart.js" %}"></script>
  </head>

  <body id="body" >
    <div id="main" style="background-image: url('{% static 'imgs/bg-chart.jpg' %}')">
      <div id="head" style="background-image: url('{% static '/imgs/banner.png' %}')"></div>
      <div id="head-link">
        <ul>
          <li><a href="#"> Contact </a></li>
          <li><a href="/admin"> Admin </a></li>
          <li class="active"><a href="/shorturl"> Shorten </a></li>
        </ul>
      </div>
      <div id="left"></div>
      <div id="content">
        <div class="short">
          <h1 style="color: white;"> Shorten your link </h1>
          {% if form %}
          <form action="" method="post" class="form-render">
            {% csrf_token %}
            <label for ="{{ form.link.id_for_label }}" style="color: white;">Link</label>
            {{ form.link }}
            <input type="submit", value="Shorten" style="font-size: 15px;" /><br/>
          </form>
          {% endif %}
          {% if short_link %} 
            <a href="{{ short_link }}" style="color: #00ff55">{{ full_link }}</a>
          {% endif %}
        </div>
      </div>
      <div id="right"></div>
      <div id="footer"></div>
    </div>
  </body>

</html>         